<a href="https://colab.research.google.com/github/cheon0110/SKinfosec/blob/main/AI/01.python/2021_07_07_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%882.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = input("정수 입력 > ")

정수 입력 > 55

In [ ]:
last_character = number[-1]

In [ ]:
if last_character in "02468":
    print("짝수")

In [ ]:
if last_character in "13579":
    print("홀수")

홀수

In [ ]:
number = int(number)

In [ ]:
if number % 2 == 0:
    print("짝수")

In [ ]:
if number % 2 == 1:
    print("홀수")

홀수

In [ ]:
a = (input("> 1번째 숫자: "))

In [ ]:
import datetime

In [ ]:
this_moment = datetime.datetime.now()

In [ ]:
this_moment

datetime.datetime(2021, 7, 6, 7, 35, 26, 345808)

In [ ]:
"{}년, {}월, {}일, {}시, {}분, {}초".format(
                                      this_moment.year,
                                      this_moment.month,
                                      this_moment.day,
                                      this_moment.hour,
                                      this_moment.minute,
                                      this_moment.second
)

'2021년, 7월, 6일, 7시, 35분, 26초'

In [ ]:
if this_moment.hour < 12:
    print("현재시각은 {}시로 오전".format(this_moment.hour))

현재시각은 7시로 오전

In [ ]:
if 6<= this_moment.month <= 8:
    print("현재 계절은 {}월로 여름입니다".format(this_moment.month))

현재 계절은 7월로 여름입니다

In [ ]:
number = input("정수 입력")

정수 입력123

In [ ]:
last_character = number[-1]

In [ ]:
last_number = int(last_character)

In [ ]:
last_number

3

In [ ]:
if last_number == 0 \
  or last_number == 2 :
  print("짝수")

In [ ]:
if last_number == 1 \
  or last_number == 3 :
  print("홀수")

홀수

In [ ]:
number = input("정수 입력 >")

정수 입력 >123

In [ ]:
if last_character in "02468":
  print("짝수")

In [ ]:
if last_character in "13579":
  print("홀수")

홀수

In [ ]:
number = input("정수 입력")

정수 입력0110

In [ ]:
number

'0110'

In [ ]:
number = int(number)

In [ ]:
number

110

In [ ]:
if number % 2 == 0:
    print("짝수")

짝수

In [ ]:
if number > 0: 
    print("양수")

양수

In [ ]:
if number < 0:
    print("음수")

In [ ]:
a = (input("> 1번째 숫자: "))

> 1번째 숫자: 1

In [ ]:
string = "안녕"

In [ ]:
string += "1"

In [ ]:
string

'안녕1'

In [ ]:
input("답을 구하시오")

답을 구하시오11

'11'

In [ ]:
input("인사말을 입력> ")

인사말을 입력> ㅎㅇㅎㅇ

'ㅎㅇㅎㅇ'

In [ ]:
string = input("인사말 입력")

인사말 입력ㅎㅇㅎㅇㅎㅇ

In [ ]:
print(string)

ㅎㅇㅎㅇㅎㅇ

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
string = input("입력> ")

입력> ㅎㅇㅎㅇ

In [ ]:
print("인사:",string)

인사: ㅎㅇㅎㅇ

In [ ]:
print("타입 : ", type(string))

타입 :  <class 'str'>

In [ ]:
string = input("숫자 :")

숫자 :100

In [ ]:
string

'100'

In [ ]:
# 문자열+숫자 =에러
print("입력 + 100 :", string + 100)

TypeError: ignored

In [ ]:
string_a = input("입력A> ")

입력A> 100

In [ ]:
int_a = int(string_a)

In [ ]:
string_b = input("입력B :")

입력B :200

In [ ]:
int_b = int(string_b)

In [ ]:
print("문자열 자료:", string_a + string_b)

문자열 자료: 100200

In [ ]:
print("숫자 : ", int_a + int_b)

숫자 :  300

In [ ]:
output_a = int("52")

In [ ]:
output_b = float("52.123")

In [ ]:
print(type(output_a), output_a)

<class 'int'> 52

In [ ]:
print(type(output_b), output_b)

<class 'float'> 52.123

In [ ]:
input_a = float(input("첫번째 숫자>"))

첫번째 숫자>1

In [ ]:
input_b = float(input("두번째 숫자>"))

두번째 숫자>222

In [ ]:
print("덧셈 결과:",input_a + input_b)

덧셈 결과: 223.0

In [ ]:
a = int(input("1번째 숫자:"))

1번째 숫자:1

In [ ]:
b = int(input("2번째 숫자:"))

2번째 숫자:222

In [ ]:
if a < b:
   print("처음 입력했던 {}가 {}보다 더 큽니다".format(b, a))

처음 입력했던 222가 1보다 더 큽니다

In [ ]:
a

100

In [ ]:
b

10

# 강의자료 159페이지

In [ ]:
number = 5

In [ ]:
if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

# 161p 
elif 구문 : if조건문과 else 구문 사이에 입력하며, 세개 이상의 조건을 연결할때 사용

In [ ]:
import datetime

In [ ]:
now = datetime.datetime.now()

In [ ]:
month = now.month

In [ ]:
if 3<= month <=5:
  print("현재는 봄입니다")
elif 6<= month <=8:
  print("현재는 여름")
elif 9<= month <=11:
  print("현재는 가을")
else:
  print("현재는 겨울")

현재는 여름

if 조건문을 효율적으로 사용하기
- 현재 elif 4.2 <= score 4.5:

: 이미 4.5 이상은 신으로 처리되었음 굳이 4.5써줄 필요가 없음

하위값만 검사하고 상위값은 검사 생략


- 4.2 <= score 4.5: -> 4.2 <= score: 변경

조건 비교를 반으로 줄이고 코드 가독성 향상

In [ ]:
score = float(input("학점입력>"))

학점입력>2

In [ ]:

if score == 4.5:
  print("신")

elif 4.2 <= score <= 4.5:
      print("교수님의 사랑")
elif 3.5 <= score <= 4.2:
  print("현 체계의 수호자")
else:
  print("gg")

gg

In [ ]:
# 보기 좋게 조건 비교를 바꿈
if score == 4.5:
  print("신")
elif 4.2 <= score:
  print("교수님의 사랑")
elif 3.5 <= score:
  print("현 체계의 수호자")
else:
  print("gg")

gg

# 165p

In [ ]:
lst1 = [1, "안녕"]
lst2 = []

In [ ]:
str1 = "good"
str2 = ""

if 조건문의 매개변수에 불이 아닌 다른 값이 올 때 자동으로 불로 변환
- False 변환되는 값 : None,0.0, 빈 문자열, 빈 리스트, 빈 튜플, 빈 딕셔너리 등

In [ ]:
if lst1 :
  print("True")
else:
  print("False")

True

In [ ]:
if str2 :
  print("True")
else:
  print("False")

False

pass : 아무것도 작성하지 않고 임시적으로 비워둠

In [ ]:
number = 10

In [ ]:
# 비워두면 에러
# 4칸을 들여 쓰고 뭔가를 구현해야함 pass
if number > 0:

else :

IndentationError: ignored

In [ ]:
if number > 0:
    pass
else:
    pass

확인 문제

In [ ]:
x = 15

In [ ]:
if x > 10 and x < 20:
    print("조건에 맞습니다")

조건에 맞습니다

# 175p
리스트 : 여러가지 자료를 저장할 수 있는 객체

여러가지 자료 처리
- 리스트
- Numpy 의 NDArray
- pandas의 daraFrame

In [ ]:
list_a = [273, 32, 103, "문자열", True, False]

In [ ]:
list_a

[273, 32, 103, '문자열', True, False]

In [ ]:
list_a[1]

32

In [ ]:
list_a[2]

103

In [ ]:
# 파이썬은 인덱스 1이상 3미만으로 해석함
list_a[1:3]

[32, 103]

In [ ]:
list_a[1:4]

[32, 103, '문자열']

In [ ]:
list_a[-1]

False

In [ ]:
list_a[-3]

'문자열'

In [ ]:
# -5가 음수로 더작으니까 앞에 있어야 함
list_a[-1:-5]

[]

In [ ]:
list_a[-5:-1]

[32, 103, '문자열', True]

In [ ]:
list_a=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
list_a[1]

[4, 5, 6]

In [ ]:
list_a[1][2]

6

In [ ]:
list_a = [ [1, 2, 3], [4, 5, 6], ["안", "녕", "하", "세", "요"]]

In [ ]:
list_a[1][2]

6

In [ ]:
list_a[2][1]

'녕'

In [ ]:
# 파이썬의 문자열은 글자 하나씩 있는 리스트로 변환되어 저장 된다
#["안녕하세요"] -> ["안", "녕", "하", "세", "요"] 같음
# 문자열은 글자 하나씩 있는 리스트랑 똑같이 동작
list_a = [ [1, 2, 3], [4, 5, 6], "안녕하세요"]

In [ ]:
list_a[2][1]

'녕'

In [ ]:
# 문자열은 실제로 이렇게 저장이 되어있음 ["문", "자", "열"]
list_a = [ 273, 32, 103, "문자열", True, False]

In [ ]:
list_a[3]

'문자열'

In [ ]:
list_a[3][1]

'자'

In [ ]:
# 273에서 3을 뽑아 내는건 안됨 문자열은 리스트안에 리스트여서 가능함
list_a[0][1]

TypeError: ignored

In [ ]:
list_a = [1, 2, 3]

In [ ]:
list_b = [4, 5, 6]

In [ ]:
list_a[2]

3

In [ ]:
list_a = [100, 200, 300, 400,500, 600]

In [ ]:
del list_a[1]

In [ ]:
list_a

[100, 300, 400, 500, 600]

In [ ]:
# 300,400,500,600 4개를 지우려면 1이상 5미만 
del list_a[1:5]

In [ ]:
list_a

[100]

In [ ]:
list_a = [100, 200, 300, 400,500, 600]

In [ ]:
# 공백은 0으로 -> 0이상 3 미만 삭제
del list_a[ :3]

In [ ]:
list_a

[400, 500, 600]

In [ ]:
list_a = [100, 200, 300, 400,500, 600]

In [ ]:
# 2이상 삭제
# 2 이상 6미만 삭제
del list_a[2: ]

In [ ]:
list_a

[100, 200]

In [ ]:
list_a = [100, 200, 300, 400,500, 600]

In [ ]:
list_a.pop(2)

300

In [ ]:
list_a

[100, 200, 400, 500, 600]

In [ ]:
list_c = [300, 400, 100, 200, 100, 100, 500, 900]

In [ ]:
# 맨 앞에 있는 100 하나만 찾아서 삭제함
list_c.remove(100)

In [ ]:
list_c

[300, 400, 200, 100, 100, 500, 900]

In [ ]:
# 900 이 포함되있으면 True
900 in list_c

True

In [ ]:
# 800 이 포함이 되어있지 않으면 False
800 in list_c

False

In [ ]:
# 900이 포함이 되어있으면 False
900 not in list_c

False

In [ ]:
# 00이 포함이 안되어있으면 True
800 not in list_c

True

In [ ]:
number = 0

# 조건이 참인 동안 반복할 일 반복
while(number < 5):  # 조건
  print("number={}".format(number))  # 반복할 일 씀
  number = number+1

number=0
number=1
number=2
number=3
number=4

In [ ]:
while(100 in list_c ): # 조건. 조건이 참인 동안 아래 반복 실행
  print("lsit_c에 100이 포함되어 있다")
  list_c.remove(100)
  print("100 1개 지움")
  print("list_c={}". format(list_c))
  print("="*100)

lsit_c에 100이 포함되어 있다
100 1개 지움
list_c=[300, 400, 200, 100, 500, 900]
====================================================================================================
lsit_c에 100이 포함되어 있다
100 1개 지움
list_c=[300, 400, 200, 500, 900]
====================================================================================================

In [ ]:
list_c

[300, 400, 200, 500, 900]

In [ ]:
array = [273, 32, 103, 57, 52]

In [ ]:
for element in array: # 리스트 값이 순서대로 1개씩 변수 element 대입
  print("element = ", element) # 리스트에 저장된 데이터 수 만큼 반복or element in array: # 리스트 값이 순서대로 1개씩 변수 element 대입
    print("element = ", element) # 리스트에 저장된 데이터 수 만큼 반복

element =  273
element =  32
element =  103
element =  57
element =  52

199 페이지 
range 함수 
:정수가 순서대로 저장된 리스트 만들어 줌

range(시작값, 끝값)
=> 시작 값 이상 끝값 미만 정수가 순차적으로
저장된 리스트 만들어서 리턴

=> range(1,5) 
: 1 이상 5미만의 정수가 순서대로 저장된 리스트를 만들어서 리턴
=> 실행을 시켜도 보여지지는 않음
: list 함수 안에 적용하면 보임
list(range(1,5))

In [ ]:
range(1, 5)

range(1, 5)

In [ ]:
for element in range(1,5): #[1, 2, 3, 4] 1이상 5미만 정수 순차 저장 리스트
  print("element = ", element)

element =  1
element =  2
element =  3
element =  4

In [ ]:
dict_a = {
    "name":"어벤져스",
    "type":"히어로",
    "감독":"몰라"
}

In [ ]:
dict_a

{'name': '어벤져스', 'type': '히어로', '감독': '몰라'}

In [ ]:
dict_a["type"]

'히어로'

In [ ]:
dict_a["감독"] = ["안소니 루소", "조 루소"]

In [ ]:
dict_a

{'name': '어벤져스', 'type': '히어로', '감독': ['안소니 루소', '조 루소']}

In [ ]:
dict_a["type"] = "액션"

In [ ]:
dict_a

{'name': '어벤져스', 'type': '액션', '감독': ['안소니 루소', '조 루소']}

In [ ]:
dict_a["배우"] = ["로버트 다우니 주니어", "스칼렛 요한슨"]

In [ ]:
dict_a

{'name': '어벤져스',
 'type': '액션',
 '감독': ['안소니 루소', '조 루소'],
 '배우': ['로버트 다우니 주니어', '스칼렛 요한슨']}

222p

In [ ]:
fruit = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨"],
    "origin" : "필리핀", 
    7865 : "코드명",
    True : "키가 불리안이라서 큰따옴표 없음"
}

In [ ]:
# key로 정렬 저장이 되기 때문에 숫자,불리언,문자는 사전순서로 정렬
# 키로 정렬이 되면 리스트보다 빨리 찾을 수 있음
# 뭔가를 빨리 찾으려 할땐 딕션쓰기
diction1

{7865: '코드명',
 True: '키가 불리안이라서 큰따옴표 없음',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨'],
 'name': '7D 건조 망고',
 'origin': '필리핀',
 'type': '당절임'}

In [ ]:
del fruit["type"]

In [ ]:
fruit

{7865: '코드명',
 True: '키가 불리안이라서 큰따옴표 없음',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨'],
 'name': '7D 건조 망고',
 'origin': '필리핀'}

In [ ]:
# 없는 키를 지우라고 하면 에러남
del fruit[가격]

NameError: ignored

222p

In [ ]:
# 키가 존재하는지 in을 써서 조회해야함 있으면 그때 지움
"가격" in fruit # fruit에 "가격" key없어서 False

False

In [ ]:
"name" in fruit # fruit에 "name" key있어서 True

True

In [ ]:
if "name" in fruit:
  print("fruit에 name키가 있나?")
  del fruit["name"]
  print("name 키랑 값 삭제")

fruit에 name키가 있나?
name 키랑 값 삭제

In [ ]:
fruit

{7865: '코드명',
 True: '키가 불리안이라서 큰따옴표 없음',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨'],
 'origin': '필리핀',
 'type': '당절임'}

In [ ]:
if "가격" in fruit:
  print("fruit에 가격 키가 있나?")
  del fruit["가격"]
  print("가격 키랑 값 삭제")

In [ ]:
fruit

{7865: '코드명',
 True: '키가 불리안이라서 큰따옴표 없음',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨'],
 'origin': '필리핀',
 'type': '당절임'}

In [ ]:
# 필리핀을 출력하려면 두가지 방법이 있음
fruit["origin"]
fruit.get("origin")

'필리핀'

In [ ]:
fruit["가격"] # 존재하지 않는 키를 쓰면 에러남

KeyError: ignored

In [ ]:
fruit.get("가격", 9) # 존재하지 않는 키 에러 안남 None 리턴, 이 방식을 더 많이 씀

9

In [ ]:
fruit = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨"],
    "origin" : "필리핀", 
    7865 : "코드명",
    True : "키가 불리안이라서 큰따옴표 없음"
}

255

In [ ]:
for elem in fruit: # elem : 변수 fruit : 딕셔너리
  print("elem = ", elem) # 딕셔너리의 키가 순서대로 대입
  print("fruit.get({})={}".format(elem, fruit.get(elem)))
  print("="*100)

elem =  name
fruit.get(name)=7D 건조 망고
====================================================================================================
elem =  type
fruit.get(type)=당절임
====================================================================================================
elem =  ingredient
fruit.get(ingredient)=['망고', '설탕', '메타중아황산나트륨']
====================================================================================================
elem =  origin
fruit.get(origin)=필리핀
====================================================================================================
elem =  7865
fruit.get(7865)=코드명
====================================================================================================
elem =  True
fruit.get(True)=키가 불리안이라서 큰따옴표 없음
====================================================================================================

In [ ]:
# [0,1,2,3,4]
range(5)  # 5하나만 쓰면 0이상 5미만 정수가 순서대로 저장된 리스트를 만들어줌

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# 보고싶으면 리스트써야함
range(5, 10) # 5이상 10 미만 정수가 순차적으로 저장된 리스트 만들어줌 [5, 6, 7, 8, 9]

range(5, 10)

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
range(1, 10, 4) # 1이상 10미만 4씩 증가하는 정수 [1, 5, 9]

range(1, 10, 4)

In [ ]:
list(range(1, 10, 4))

[1, 5, 9]

In [ ]:
 # renge는 정수를 저장하는데 실수가 나와버려서 안됨  실수가 나와버려서 안됨 
range(5.5, 10, 1.0)

TypeError: ignored

# 237p

In [ ]:
# 파이썬에서 정수끼리 +,-,* 가능 파이썬에서 정수끼리 +,-,* 결과는 정수
10 + 1

11

In [ ]:
# 파이썬에서 나눗셈 /의 결과는 무조건 실수
10 / 2

5.0

In [ ]:
# 파이썬에서 나누니 //의 결과는 정수
5 // 2

2

확인문제

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

In [ ]:
for number in numbers:
  if -100 < number:
    print("-100 이상의 수:", number)

-100 이상의 수: 273
-100 이상의 수: 103
-100 이상의 수: 5
-100 이상의 수: 32
-100 이상의 수: 65
-100 이상의 수: 9
-100 이상의 수: 72
-100 이상의 수: 800
-100 이상의 수: 99

In [ ]:
character = {
    "name": "기사",
    "level": 12,
    "item": {
        "sword": "불꽃의 검",
        "anmor": "폴플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if key == "skill":
        for key2 in character.get(key):
            pass
    if key == "item":
      for item in character.get(key):
        print(item, ":", character.get(key).get(item))
    elif key == "skill":
        for skill in character.get(key):
            print(key,":", skill)
    else:
        print(key, ':', character.get(key))

name : 기사
level : 12
sword : 불꽃의 검
anmor : 폴플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기