In [4]:
import pandas as pd

In [5]:
# W : 일요일들이 리턴됨 첫번째 일요일,두번째 일요일...
print(pd.date_range(start="2021-08", periods=8, freq="W"))

# M : 모든 월의 마지막날
print(pd.date_range(start="2021-08", periods=8, freq="M"))

# MS : 해당 월의 첫번째날
print(pd.date_range(start="2021-08", periods=8, freq="MS"))

# BMS : 해당 월의 첫번째 평일
print(pd.date_range(start="2021-08", periods=8, freq="BMS"))

# 2021년 7일 주기로 매주 월요일
# 7*'1d'= 7일
print(pd.date_range(start="2021-08-02", periods=8, freq=7*"1d"))

DatetimeIndex(['2021-08-01', '2021-08-08', '2021-08-15', '2021-08-22',
               '2021-08-29', '2021-09-05', '2021-09-12', '2021-09-19'],
              dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30',
               '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2021-08-01', '2021-09-01', '2021-10-01', '2021-11-01',
               '2021-12-01', '2022-01-01', '2022-02-01', '2022-03-01'],
              dtype='datetime64[ns]', freq='MS')
DatetimeIndex(['2021-08-02', '2021-09-01', '2021-10-01', '2021-11-01',
               '2021-12-01', '2022-01-03', '2022-02-01', '2022-03-01'],
              dtype='datetime64[ns]', freq='BMS')
DatetimeIndex(['2021-08-02', '2021-08-09', '2021-08-16', '2021-08-23',
               '2021-08-30', '2021-09-06', '2021-09-13', '2021-09-20'],
              dtype='datetime64[ns]', freq='7D')

In [6]:
# 196
import numpy as np

df = pd.DataFrame({
    "week":pd.date_range(start="2021-08-02", periods=8, freq=7*"1d"), # 매주 월요일
    "sales":[39, 44, 40, 45, 38, 43, 39, np.nan],
    "3MA":[0]*8
})

df

        week  sales  3MA
0 2021-08-02   39.0    0
1 2021-08-09   44.0    0
2 2021-08-16   40.0    0
3 2021-08-23   45.0    0
4 2021-08-30   38.0    0
5 2021-09-06   43.0    0
6 2021-09-13   39.0    0
7 2021-09-20    NaN    0

In [8]:
# 3개의 행의 평균
df[["sales"]].rolling(3).mean().shift(1)

# 최근 3주의 평균을 계산 후 아래로 1줄 이동
# 예측 한 값 3MA에 저장
df["3MA"] = df[["sales"]].rolling(3).mean().shift(1)
df

        week  sales   3MA
0 2021-08-02   39.0   NaN
1 2021-08-09   44.0   NaN
2 2021-08-16   40.0   NaN
3 2021-08-23   45.0  41.0
4 2021-08-30   38.0  43.0
5 2021-09-06   43.0  41.0
6 2021-09-13   39.0  42.0
7 2021-09-20    NaN  40.0